In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [84]:
df = pd.read_csv('../open/train.csv').drop(['Y_Class', 'Y_Quality','TIMESTAMP','Y_Quality', 'PRODUCT_ID'],axis=1).dropna(axis=1, how='all')

In [40]:
display(df.head())

,Y_Class,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
0,1,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,189.0,383.0,368.296296,353.0,39.34,40.89,32.56,34.09,77.77,NaN
1,2,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,185.6,383.0,367.735849,353.0,38.89,42.82,43.92,35.34,72.55,NaN
2,1,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,165.5,383.0,367.320755,353.0,39.19,36.65,42.47,36.53,78.35,NaN
3,2,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,165.8,384.0,369.188679,353.0,37.74,39.17,52.17,30.58,71.78,NaN
4,1,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,182.6,383.0,367.351852,352.0,38.70,41.89,46.93,33.09,76.97,NaN

In [41]:
desc = df.describe()
df = df.drop(desc.columns[desc.loc['std']==0], axis=1)

In [42]:
line_uni = df['LINE'].unique()
code_uni = df['PRODUCT_CODE'].unique()

print('LINE 종류 : ', line_uni)
print('PRODUCT_CODE 종류 : ', code_uni)

LINE 종류 :  ['T050304' 'T050307' 'T100304' 'T100306' 'T010306' 'T010305']
PRODUCT_CODE 종류 :  ['A_31' 'T_31' 'O_31']

In [63]:
a_31 = df[df['PRODUCT_CODE']=='A_31'].dropna(axis=1, how='all')
na_31 = df[df['PRODUCT_CODE']!='A_31'].dropna(axis=1, how='all')

a_desc = a_31.describe()
a_desc = a_desc[a_desc.columns[a_desc.loc['std']!=0]]
na_desc = na_31.describe()
na_desc = na_desc[na_desc.columns[na_desc.loc['std']!=0]]

In [64]:
a_lines = [x for x in line_uni if x.startswith('T0')]

In [65]:
columns = []
for line in a_lines:
    tmp = a_31[a_31['LINE']==line].dropna(axis=1, how='all')
    display(tmp.describe())
    columns.append(tmp.columns)

,Y_Class,X_128,X_129,X_132,X_133,X_134,X_136,X_137,X_138,X_139,...,X_2861,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870
count,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,...,78.000000,78.000000,78.000000,78.000000,78.000000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,0.756410,14699.833333,14791.923077,0.195385,0.206026,0.194231,446.910256,446.923077,446.384615,587.143590,...,177.839546,167.864103,384.269231,367.712304,351.269231,51.557313,54.230149,48.665224,52.332537,66.685970
std,0.687285,8290.625484,8233.160897,0.005270,0.004925,0.005702,283.138908,283.121229,283.505708,10.772603,...,8.730598,8.895380,3.551744,3.228670,3.761297,6.575480,7.471761,7.364913,8.383800,4.870951
min,0.000000,837.000000,837.000000,0.180000,0.200000,0.180000,32.000000,32.000000,32.000000,561.200000,...,159.316667,136.900000,373.000000,357.698113,342.000000,32.120000,31.700000,32.560000,30.720000,61.670000
25%,0.000000,7827.750000,7830.500000,0.190000,0.200000,0.190000,207.000000,207.000000,206.250000,580.775000,...,171.516293,162.775000,384.000000,367.178284,352.000000,49.855000,52.560000,40.835000,52.230000,63.755000
50%,1.000000,13493.500000,13493.500000,0.200000,0.210000,0.190000,362.500000,362.500000,362.500000,584.050000,...,176.362069,166.750000,384.000000,368.113207,352.000000,53.810000,56.140000,51.330000,56.210000,65.140000
75%,1.000000,23426.250000,23426.250000,0.200000,0.210000,0.200000,725.750000,725.750000,725.750000,596.100000,...,183.243966,171.800000,384.000000,368.844340,353.000000,55.620000,59.100000,54.545000,57.090000,66.840000
max,2.000000,26596.000000,26596.000000,0.200000,0.210000,0.200000,874.000000,874.000000,875.000000,607.500000,...,201.944828,194.600000,394.000000,376.698113,362.000000,60.240000,65.480000,60.000000,59.930000,79.750000

,Y_Class,X_130,X_131,X_132,X_133,X_134,X_136,X_137,X_138,X_139,...,X_2861,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870
count,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,...,42.000000,42.000000,42.000000,42.000000,42.000000,33.000000,33.000000,33.000000,33.000000,33.000000
mean,1.261905,10904.333333,10904.333333,0.196905,0.208571,0.196429,290.595238,290.904762,291.190476,574.742857,...,172.615657,161.557143,384.642857,368.345197,351.261905,49.284545,52.343939,51.516667,50.293939,66.576061
std,0.857094,9234.859281,9234.859281,0.004679,0.003542,0.004850,221.862302,221.334953,221.639373,13.692960,...,12.736752,14.484157,2.920252,2.199755,3.364517,7.704626,9.345476,6.408054,9.896225,3.805470
min,0.000000,806.000000,806.000000,0.190000,0.200000,0.190000,50.000000,52.000000,52.000000,552.300000,...,138.742857,125.700000,382.000000,363.037037,342.000000,33.160000,33.260000,40.970000,30.490000,61.950000
25%,0.250000,2255.500000,2255.500000,0.190000,0.210000,0.190000,81.250000,81.250000,81.250000,564.325000,...,168.582759,159.475000,383.000000,367.580189,352.000000,40.420000,51.050000,47.580000,40.340000,63.360000
50%,2.000000,8513.500000,8513.500000,0.200000,0.210000,0.200000,263.500000,265.500000,265.500000,575.550000,...,173.519212,164.600000,384.000000,368.392208,352.000000,52.970000,55.420000,52.270000,56.110000,65.270000
75%,2.000000,19865.500000,19865.500000,0.200000,0.210000,0.200000,414.000000,414.000000,414.000000,589.275000,...,179.045833,168.500000,384.000000,369.183962,353.000000,54.950000,58.320000,56.300000,57.340000,71.370000
max,2.000000,26155.000000,26155.000000,0.200000,0.210000,0.200000,779.000000,779.000000,779.000000,595.500000,...,198.326667,189.700000,394.000000,374.425926,354.000000,59.380000,68.660000,60.410000,59.420000,72.770000

,Y_Class,X_246,X_247,X_248,X_250,X_251,X_253,X_254,X_256,X_257,...,X_2856,X_2857,X_2858,X_2859,X_2860,X_2861,X_2862,X_2863,X_2864,X_2865
count,70.000000,70.000000,70.000000,70.000000,70.000000,70.0,70.0,70.0,70.000000,70.000000,...,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000
mean,1.300000,1.271429,91.757143,88.685714,11.657143,0.0,12.0,51.0,482.628571,488.804286,...,184.174286,197.487143,187.030225,175.454286,182.505714,172.400580,160.542857,460.685714,442.100871,422.585714
std,0.622058,0.536263,2.678068,53.307841,0.478091,0.0,0.0,0.0,16.561236,17.639863,...,16.800894,12.735821,10.416436,11.132114,9.360941,9.151735,10.228981,7.198113,6.506206,6.468413
min,0.000000,1.000000,87.000000,1.000000,11.000000,0.0,12.0,51.0,442.300000,448.500000,...,142.300000,171.100000,163.617857,155.100000,152.000000,143.085714,132.000000,446.000000,426.250000,404.000000
25%,1.000000,1.000000,89.000000,52.500000,11.000000,0.0,12.0,51.0,473.850000,478.850000,...,170.925000,188.625000,180.505172,166.000000,176.100000,166.415887,153.950000,456.000000,439.353774,422.000000
50%,1.000000,1.000000,91.500000,83.500000,12.000000,0.0,12.0,51.0,484.200000,490.350000,...,188.600000,200.950000,187.757574,175.750000,183.450000,171.726108,159.700000,465.500000,443.192308,423.000000
75%,2.000000,1.000000,94.000000,141.000000,12.000000,0.0,12.0,51.0,497.650000,505.600000,...,198.050000,207.175000,195.492956,184.050000,189.200000,179.313393,167.975000,466.000000,447.715348,424.750000
max,2.000000,4.000000,96.000000,170.000000,12.000000,0.0,12.0,51.0,503.800000,511.100000,...,213.100000,222.600000,205.079310,198.100000,200.400000,188.696552,181.700000,473.000000,450.692308,433.000000

,Y_Class,X_246,X_247,X_248,X_250,X_251,X_253,X_254,X_256,X_257,...,X_2856,X_2857,X_2858,X_2859,X_2860,X_2861,X_2862,X_2863,X_2864,X_2865
count,59.000000,59.000000,59.000000,59.0,59.0,59.000000,59.000000,59.0,59.000000,59.000000,...,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000
mean,0.966102,1.508475,90.033898,0.0,11.0,82.881356,11.067797,42.0,482.913559,489.535593,...,185.671186,200.340678,189.660125,175.432203,182.649153,172.535662,161.738983,459.152542,440.963383,421.949153
std,0.642358,1.343861,2.572843,0.0,0.0,45.800950,0.253555,0.0,14.145688,15.337724,...,17.119590,13.980887,12.391813,12.612589,10.717652,10.376780,12.133226,8.621972,8.168624,8.601170
min,0.000000,1.000000,87.000000,0.0,11.0,2.000000,11.000000,42.0,438.300000,443.600000,...,152.600000,170.600000,165.000000,146.900000,156.200000,153.746429,140.300000,436.000000,418.660377,394.000000
25%,1.000000,1.000000,88.000000,0.0,11.0,43.500000,11.000000,42.0,477.000000,481.700000,...,174.450000,192.500000,181.387500,166.350000,176.300000,167.380357,152.850000,456.000000,439.037736,422.000000
50%,1.000000,1.000000,89.000000,0.0,11.0,90.000000,11.000000,42.0,484.900000,491.700000,...,188.200000,204.600000,191.520690,175.700000,182.100000,170.572414,160.400000,465.000000,441.903846,423.000000
75%,1.000000,2.000000,91.000000,0.0,11.0,119.000000,11.000000,42.0,494.150000,501.500000,...,196.750000,208.400000,197.222414,185.350000,187.350000,177.673214,169.100000,466.000000,447.836538,424.000000
max,2.000000,11.000000,96.000000,0.0,11.0,168.000000,12.000000,42.0,503.800000,512.600000,...,222.700000,229.400000,221.172414,205.100000,209.000000,195.682143,188.600000,466.000000,450.673077,434.000000

In [66]:
x_feat = [x for x in a_31.columns if 'X_' in x]

In [75]:
cols = list(a_31[x_feat].columns[a_31[x_feat].min()<0])
cols.append('Y_Class')
cols.append('LINE')
display(a_31[cols].head(50))
display(a_31[cols].describe())
#display(na_31[cols].describe())

,X_953,X_954,X_955,X_956,X_1002,X_1078,X_1105,X_1132,X_1408,X_1741,X_1745,X_1815,X_1819,Y_Class,LINE
0,65.0,-5.0,51.0,-26.0,-5.740741,-16.0,-16.0,-16.0,30.000000,-3.0,-4.0,-5.0,-5.0,1,T050304
1,72.0,0.0,62.0,-26.0,3.471698,-8.0,-8.0,-8.0,42.000000,-3.0,-5.0,-5.0,-6.0,2,T050307
2,92.0,-1.0,69.0,-34.0,7.320755,-5.0,-5.0,-5.0,251.984198,-3.0,-4.0,-5.0,-5.0,1,T050304
3,60.0,0.0,68.0,-22.0,7.075472,1.0,1.0,1.0,-0.554926,-3.0,-5.0,-5.0,-6.0,2,T050307
4,53.0,-1.0,59.0,-22.0,8.981481,9.0,9.0,9.0,12.206633,-3.0,-4.0,-5.0,-5.0,1,T050304
5,68.0,-5.0,72.0,-26.0,8.283019,-2.0,-2.0,-2.0,17.790927,-3.0,-5.0,-5.0,-6.0,2,T050307
6,72.0,0.0,65.0,-20.0,9.240741,12.0,12.0,12.0,22.834236,-3.0,-4.0,-5.0,-5.0,1,T050304
7,72.0,1.0,72.0,-22.0,8.622642,18.0,18.0,18.0,26.355230,-3.0,-5.0,-5.0,-6.0,2,T050307
8,70.0,-11.0,62.0,-23.0,7.555556,7.0,7.0,7.0,35.892267,-3.0,-4.0,-5.0,-5.0,1,T050304
9,62.0,-6.0,63.0,-20.0,10.888889,-2.0,-2.0,-2.0,10.076000,-3.0,-5.0,-5.0,-6.0,2,T050307
10,70.0,0.0,65.0,-29.0,11.320755,-2.0,-2.0,-2.0,32.381055,-3.0,-4.0,-5.0,-5.0,1,T050304
11,67.0,-5.0,68.0,-20.0,9.666667,18.0,18.0,18.0,78.000000,-3.0,-5.0,-5.0,-6.0,2,T050307
12,75.0,-5.0,71.0,-25.0,8.722222,10.0,10.0,10.0,16.779401,-3.0,-4.0,-5.0,-5.0,1,T050304
13,74.0,-9.0,71.0,-16.0,10.113208,15.0,15.0,15.0,33.384490,-3.0,-5.0,-5.0,-6.0,2,T050307
14,75.0,-12.0,77.0,-19.0,10.075472,-4.0,-4.0,-4.0,36.393698,-3.0,-4.0,-5.0,-5.0,1,T050304
15,75.0,-8.0,72.0,-23.0,11.490566,18.0,18.0,18.0,42.000000,-3.0,-5.0,-5.0,-6.0,2,T050307
16,77.0,4.0,75.0,-19.0,12.000000,7.0,7.0,7.0,74.000000,-3.0,-4.0,-5.0,-5.0,1,T050304
17,83.0,-8.0,71.0,-26.0,9.132075,7.0,7.0,7.0,36.895092,-3.0,-5.0,-5.0,-6.0,2,T050307
18,75.0,-1.0,65.0,-20.0,11.641509,4.0,4.0,4.0,16.273148,-3.0,-4.0,-5.0,-5.0,1,T050304
19,86.0,-1.0,60.0,-29.0,10.283019,10.0,10.0,10.0,75.000000,-3.0,-5.0,-5.0,-6.0,2,T050307
20,80.0,-4.0,69.0,-23.0,7.685185,4.0,4.0,4.0,23.204847,-3.0,-4.0,-5.0,-5.0,1,T050304
21,51.0,-1.0,73.0,-15.0,10.444444,15.0,15.0,15.0,12.717004,-3.0,-4.0,-5.0,-5.0,2,T050304
24,-7.0,-75.0,62.0,4.0,31.907407,21.0,21.0,21.0,0.937315,-3.0,-4.0,-4.0,-6.0,2,T050307
27,67.0,-47.0,18.0,-20.0,-3.000000,2.0,2.0,2.0,17.796730,NaN,NaN,NaN,NaN,2,T010306
28,73.0,-38.0,17.0,-15.0,-2.094340,-4.0,-4.0,-4.0,36.257939,NaN,NaN,NaN,NaN,0,T010305
31,85.0,-31.0,37.0,-9.0,11.566038,8.0,8.0,8.0,4.538339,NaN,NaN,NaN,NaN,2,T010306
32,78.0,-43.0,31.0,-1.0,14.679245,10.0,10.0,10.0,24.908169,NaN,NaN,NaN,NaN,2,T010306
33,75.0,-37.0,36.0,0.0,12.660377,13.0,13.0,13.0,22.710596,NaN,NaN,NaN,NaN,1,T010305
34,61.0,-3.0,85.0,-9.0,19.660377,17.0,17.0,17.0,-1.598441,-3.0,-4.0,-5.0,-5.0,0,T050304
35,70.0,-3.0,86.0,-9.0,22.830189,1.0,1.0,1.0,-2.054795,-3.0,-5.0,-5.0,-6.0,1,T050307
38,59.0,-54.0,40.0,10.0,21.711538,28.0,28.0,28.0,7.462332,NaN,NaN,NaN,NaN,2,T010306
39,62.0,-54.0,41.0,0.0,16.471698,6.0,6.0,6.0,35.175380,NaN,NaN,NaN,NaN,1,T010305
40,67.0,-37.0,32.0,2.0,14.884615,13.0,13.0,13.0,20.708064,NaN,NaN,NaN,NaN,1,T010305
41,67.0,-42.0,43.0,6.0,20.660377,8.0,8.0,8.0,15.580200,NaN,NaN,NaN,NaN,1,T010305
47,73.0,-41.0,33.0,8.0,19.905660,11.0,11.0,11.0,3.514098,NaN,NaN,NaN,NaN,1,T010306
48,75.0,-44.0,37.0,10.0,19.528302,13.0,13.0,13.0,11.636869,NaN,NaN,NaN,NaN,1,T010305
51,73.0,-39.0,33.0,-4.0,9.865385,8.0,8.0,8.0,13.850902,NaN,NaN,NaN,NaN,2,T010306
52,77.0,-43.0,36.0,0.0,14.886792,10.0,10.0,10.0,13.472250,NaN,NaN,NaN,NaN,2,T010305
53,60.0,-43.0,40.0,6.0,20.576923,17.0,17.0,17.0,18.717176,NaN,NaN,NaN,NaN,2,T010306
54,66.0,-45.0,33.0,4.0,19.207547,15.0,15.0,15.0,12.512498,NaN,NaN,NaN,NaN,2,T010306
57,80.0,-57.0,36.0,10.0,18.716981,10.0,10.0,10.0,37.474702,NaN,NaN,NaN,NaN,2,T010305
58,72.0,-55.0,31.0,-5.0,16.423077,31.0,31.0,31.0,1.744807,NaN,NaN,NaN,NaN,2,T010305
59,68.0,-43.0,33.0,-1.0,16.480769,19.0,19.0,19.0,6.578460,NaN,NaN,NaN,NaN,2,T010305
62,74.0,-6.0,117.0,17.0,44.169811,18.0,18.0,18.0,202.000000,-3.0,-4.0,-5.0,-5.0,1,T050304
63,76.0,-7.0,105.0,8.0,39.396226,44.0,44.0,44.0,NaN,-3.0,-4.0,-5.0,-5.0,1,T050304
64,66.0,-56.0,31.0,-1.0,17.169811,23.0,23.0,23.0,23.530527,NaN,NaN,NaN,NaN,1,T010305
65,68.0,-56.0,36.0,-13.0,18.320755,19.0,19.0,19.0,7.273589,NaN,NaN,NaN,NaN,1,T010305
66,74.0,-55.0,37.0,6.0,22.169811,13.0,13.0,13.0,59.140054,NaN,NaN,NaN,NaN,0,T010305
67,83.0,-35.0,54.0,17.0,27.884615,31.0,31.0,31.0,4.691211,NaN,NaN,NaN,NaN,0,T010306
68,83.0,-30.0,49.0,19.0,33.115385,36.0,36.0,36.0,6.407867,NaN,NaN,NaN,NaN,0,T010306

,X_953,X_954,X_955,X_956,X_1002,X_1078,X_1105,X_1132,X_1408,X_1741,X_1745,X_1815,X_1819,Y_Class
count,248.000000,248.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,233.000000,120.000000,120.000000,120.000000,120.000000,249.000000
mean,70.633065,-21.306452,45.257028,-6.779116,13.302735,11.000000,11.000000,11.000000,26.105437,-3.491667,-4.191667,-5.008333,-5.558333,1.044177
std,22.866946,22.064931,21.491704,16.309859,14.137523,15.580436,15.580436,15.580436,34.027529,0.502027,0.395263,0.158556,0.498668,0.725442
min,-69.000000,-149.000000,-37.000000,-90.000000,-60.792453,-55.000000,-55.000000,-55.000000,-2.054795,-4.000000,-5.000000,-6.000000,-6.000000,0.000000
25%,62.750000,-31.000000,33.000000,-15.000000,6.673077,0.000000,0.000000,0.000000,7.273589,-4.000000,-4.000000,-5.000000,-6.000000,1.000000
50%,73.000000,-17.000000,45.000000,-7.000000,14.113208,11.000000,11.000000,11.000000,16.918059,-3.000000,-4.000000,-5.000000,-6.000000,1.000000
75%,83.000000,-6.000000,59.000000,4.000000,20.370370,20.000000,20.000000,20.000000,33.886134,-3.000000,-4.000000,-5.000000,-5.000000,2.000000
max,128.000000,7.000000,117.000000,37.000000,49.519231,52.000000,52.000000,52.000000,251.984198,-3.000000,-4.000000,-4.000000,-5.000000,2.000000

In [69]:

for col in a_31.columns:

Index(['Y_Class', 'LINE', 'PRODUCT_CODE', 'X_128', 'X_129', 'X_130', 'X_131',
       'X_132', 'X_133', 'X_134',
       ...
       'X_2861', 'X_2862', 'X_2863', 'X_2864', 'X_2865', 'X_2866', 'X_2867',
       'X_2868', 'X_2869', 'X_2870'],
      dtype='object', length=1874)

In [70]:
tmp = a_31[cols].describe()
n_uni = []
for col in tmp.columns:
    n_uni.append(len(a_31[col].unique()))
tmp.loc['uni'] = n_uni
display(tmp)

,X_953,X_954,X_955,X_956,X_1002,X_1078,X_1105,X_1132,X_1408,X_1741,X_1745,X_1815,X_1819,Y_Class
count,248.000000,248.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,233.000000,120.000000,120.000000,120.000000,120.000000,249.000000
mean,70.633065,-21.306452,45.257028,-6.779116,13.302735,11.000000,11.000000,11.000000,26.105437,-3.491667,-4.191667,-5.008333,-5.558333,1.044177
std,22.866946,22.064931,21.491704,16.309859,14.137523,15.580436,15.580436,15.580436,34.027529,0.502027,0.395263,0.158556,0.498668,0.725442
min,-69.000000,-149.000000,-37.000000,-90.000000,-60.792453,-55.000000,-55.000000,-55.000000,-2.054795,-4.000000,-5.000000,-6.000000,-6.000000,0.000000
25%,62.750000,-31.000000,33.000000,-15.000000,6.673077,0.000000,0.000000,0.000000,7.273589,-4.000000,-4.000000,-5.000000,-6.000000,1.000000
50%,73.000000,-17.000000,45.000000,-7.000000,14.113208,11.000000,11.000000,11.000000,16.918059,-3.000000,-4.000000,-5.000000,-6.000000,1.000000
75%,83.000000,-6.000000,59.000000,4.000000,20.370370,20.000000,20.000000,20.000000,33.886134,-3.000000,-4.000000,-5.000000,-5.000000,2.000000
max,128.000000,7.000000,117.000000,37.000000,49.519231,52.000000,52.000000,52.000000,251.984198,-3.000000,-4.000000,-4.000000,-5.000000,2.000000
uni,69.000000,62.000000,70.000000,61.000000,245.000000,60.000000,60.000000,60.000000,221.000000,3.000000,3.000000,4.000000,3.000000,3.000000

In [85]:
a_cols = []
for line in [x for x in line_uni if x.startswith('T0')]:
    a_cols.append(df[df['LINE']==line].dropna(axis=1, how='all').columns)
dup_cols = set(df.columns)
for col in a_cols:
    dup_cols = dup_cols&set(col)
print(len(dup_cols))

762

In [87]:
na_cols = []
for line in [x for x in line_uni if x.startswith('T1')]:
    na_cols.append(df[df['LINE']==line].dropna(axis=1, how='all').columns)
dup_cols = set(df.columns)
for col in na_cols:
    dup_cols = dup_cols&set(col)
print(len(dup_cols))

667

In [79]:
tmp = set(a_31.columns)
for col in columns:
    tmp = tmp&set(col)
print(len(tmp))

669

In [102]:
for col in df.columns:
    if len(df[col].unique()) < 3:
       df[col] = df[col].fillna(0).astype('str')

In [101]:
df[col] = df[col].fillna(0).astype('str')

In [104]:
df['X_1717']

0      1.1
1      1.0
2      1.1
3      1.0
4      1.1
      ...
593    NaN
594    1.1
595    1.1
596    NaN
597    NaN
Name: X_1717, Length: 598, dtype: float64